# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.out
a.out
cercle
variables
operateurs
sizeof_types
boucles
boucles_while
conditions
calculs
binaire
pyramide
puissance

# executables
a.out
*.out
*.exe

# (optionnel) ignorer tous les binaires sans extension dans src
TP1/src/cercle
TP1/src/variables
TP1/src/operateurs
TP1/src/sizeof_types
TP1/src/boucles
TP1/src/boucles_while
TP1/src/conditions
TP1/src/calculs
TP1/src/binaire
TP1/src/pyramide
TP2/src/puissance

